var path = require('path')

var config = {
  connectors: {
    facebook: {
      clientID:     'get_your_own',
      clientSecret: 'get_your_own',
      callbackURL:  'http://localhost:1337/auth/facebook/callback'
    },
    twitter: {
      consumerKey:    'get_your_own',
      consumerSecret: 'get_your_own',
      callbackURL:    'http://127.0.0.1:1337/auth/twitter/callback'
    },
    github: {
      clientID:     'get_your_own',
      clientSecret: 'get_your_own',
      callbackURL:  'http://127.0.0.1:1337/auth/github/callback'
    },
    googleOauth2: {
      clientId:     'get_your_own',
      clientSecret: 'get_your_own',
      callbackUrl:  'http://localhost:1337/auth/googleOauth2/callback'
    }
  },
  database: {
    client: 'sqlite3',
    connection: {
      filename: path.join(__dirname, 'comments.db')
    },
    debug: false
  }
}

module.exports = config
