var path = require('path')

var config = {
  secret: 'verysecret',
  server: {
    protocol: 'http',
    domain:   'localhost',
    port:     1337,
  },
  email: {
    address: 'noreply@example.com',
  },
  connectors: {
    facebook: {
      clientID:     'get_your_own',
      clientSecret: 'get_your_own',
      callbackURL:  'http://localhost:1337/auth/facebook/callback',
    },
    openidconnect: [
      {
        title:            'Google OpenID Connect',
        shortName:        'google',
        authorizationURL: 'https://accounts.google.com/o/oauth2/v2/auth',
        tokenURL:         'https://www.googleapis.com/oauth2/v4/token',
        userInfoURL:      'https://www.googleapis.com/oauth2/v3/userinfo',
        clientID:         'get_your_own',
        clientSecret:     'get_your_own',
      }
    ],
  },
  database: 'sqlite://' + path.join(__dirname, 'comments.db'),
}

module.exports = config
