<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Comment notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <p>There has been a new comment on a thread you are subscribed to.</p>

    <hr/>

    {{{commentHtml}}}

    <hr/>

    <p>
      You are getting this mail because you have subscribed to <a href="{{pageUrl}}">comments on
      some page</a>.  You could <a href="{{unsubscribeUrl}}">unsubscribe</a>.
    </p>

    <p style="font-size: smallest">
      Powered by <a href="https://github.com/fiddur/some-comments">Some Comments</a>.
    </p>
  </body>
</html>
