<h1>You are logged in as {{user}}!</h1>

<script>
  console.log('Sending message to:', window.parent)
  window.parent.postMessage({authenticated: true}, '*')
  console.log('Sent message to:', window.parent)
</script>
