<h3>Logged in as {{user}}</h3>

<hr />
<div class="comments" id="comments"></div>
<hr />

<script src="/node_modules/markdown/lib/markdown.js"></script>
<script src="/node_modules/q/q.js"></script>
<script src="/client.js"></script>
<script>
  Comment.displayAll(1, 'mypage', e('comments'))
</script>

