<h1>You need to authenticate ({{user}})</h1>

<h2>Authenticate with:</h2>

<form action="/auth/oidc" target="_blank">
  <input name="oidci" /><input type="submit" />
</form>

<ul>
  {{#config.connectors.openidconnect}}
    <li><a href="/auth/{{shortName}}" target="_blank">{{title}}</a></li>
  {{/config.connectors.openidconnect}}

  {{#config.connectors.facebook}}
    <li><a href="/auth/facebook" target="_blank">Facebook</a></li>
  {{/config.connectors.facebook}}
</ul>

<script>
  console.log('Parent:', window.parent)

  window.addEventListener("message", function(event) {
    console.log('Got event.', event)
    //var origUrl   = parseUrl(event.origin)
    //var serverUrl = parseUrl(site.server)
    //
    //if (origUrl.hostname !== serverUrl.hostname) {
    //  console.log('Origin ' + origUrl.hostname + ' != ' + serverUrl.hostname + '.  Ignoring.')
    //  return
    //}

    if (!event.data.authenticated) {return deferred.reject('Not authenticated')}

    // Forward to parent.
    window.parent.postMessage({authenticated: true}, '*')
  }, false);
</script>
