<h1>You need to authenticate ({{user}})</h1>

<h2>Authenticate with:</h2>

<ul>
  <li><a href="/auth/facebook" target="_new">Facebook</a></li>
  <li><a href="/auth/googleOauth2" target="_new">Google Oauth 2.0</a></li>
</ul>

<script>
  console.log('Parent:', window.parent)

  window.addEventListener("message", function(event) {
    var baseUrl = 'http://localhost:1337'
    console.log('Got event.', event)
    if (event.origin !== baseUrl) {
      console.log('This does not originate from localhost:1337! Ignoring')
      return
    }

    if (!event.data.authenticated) {return deferred.reject('Not authenticated')}

    // Forward to parent.
    window.parent.postMessage({authenticated: true}, '*')
  }, false);
</script>
