<h2>Unsubscribed!</h2>

<p>
  You will get no further e-mails about new comments on: <a href="{{page.url}}">{{page.url}}</a>
</p>

<p class="some_comment_info">
  <a href="https://github.com/fiddur/some-comments">Some Comments</a>, ©Fredrik
  Liljegren <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL-3.0</a>
</p>
