.comments {
  padding: .5rem;
}
.comment_row {
  display: table-row;
}

.comments .user {
  vertical-align: top;
  display:        table-cell;
  width:          3rem;
  max-width:      3rem;
  height:         3rem;
  overflow:       hidden;
  padding-bottom: 0.2rem;
  overflow:       hidden;
}
.comments .user img {
  max-width:  100%;
  max-height: 100%;
}
.comments .user.unknown_user {
  font-size: 300%;
  text-align: center;
}

.comments .comment_text {
  vertical-align: top;
  display:        table-cell;
  padding-left:   0.5rem;
  border-bottom:  1px solid lightgrey;
  width:          100%; /* greedy */
}
.comment_text .created {
  font-size: 70%;
  color:     grey;
}

.comment_preview {
  border: 1px solig lightgrey;
}
.comment_text textarea {
  width: 100%;
}

.comments .comment_text p:first-child {
  margin-top: 0;
}

iframe.login {
  z-index: 1000;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 800px;
  max-width: 90%;
  height: 800px;
  max-height: 90%;
  background: white;
}

.some_comment_info {
  text-align:  right;
  font-size:   50%;
  font-family: sans-serif;
}

.login_list {
  list-style-type: none;
}

.login_list li {
  display: inline;
}
