.comments {
  background: wheat;
  padding: .5rem;
}
.comment_row {
  display: table-row;
}

.comments .user {
  vertical-align: top;
  display: table-cell;
  width:  2rem;
  height: 2rem;
  overflow: hidden;
  padding-bottom: 0.2rem;
}

.comments .comment_text {
  vertical-align: top;
  display: table-cell;
  padding-left: 0.5rem;
  border-bottom: 1px solid lightgrey;
}
.comment_text .created {
  font-size: 70%;
  color:     grey;
}

.comment_preview {
  border: 1px solig lightgrey;
}
.comment_text textarea {
  width: 100%;
}

.comments .comment_text p:first-child {
  margin-top: 0;
}

iframe.login {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 800px;
  max-width: 90%;
  height: 800px;
  max-height: 90%;
  background: white;
}
